body{
  height: 300px;
  margin:0;
  text-align: left;
  width: 70px;
  display: -webkit-flex;
  display: flex;
  -weblot-flex-wrap: wrap;
  flex-wrap: wrap;
  -webit-align-content:left;
  align-content: center;
}
h1 {
  font-family: 'Helvetica';
}
h2{
  font-family: 'Helvetica';
}
h3{
  font-family: 'Helvetica';
}
h4{
  font-family: 'Helvetica';
}
p{
  font-family: 'Helvetica';
}
.hero{
  background-image: url("http://www.joelstigliano.com/files/theme/bodybg.jpg");
  background-size: cover;
}
